<div class="history1">

	<table style="width:100%; height: 200px">

 
  <tr>
    <th>Period</th>
    <td>1</td> 
    <td>2</td>
    <td>3</td> 
    <td>4</td>
    <td>5</td>
    <td>6</td>
  </tr>
  <tr>
    <th>My Action</th>
    <td bgcolor = "#eb9191"><font color="black">A</font></td> 
    <td bgcolor = "#eb9191"><font color="black">A</font></td>
    <td bgcolor = "#eb9191"><font color="black">A</font></td> 
    <td bgcolor = "#eb9191"><font color="black">B</font></td>
    <td bgcolor = "#eb9191"><font color="black">B</font></td> 
    <td>?</td>
  </tr>
  <tr>
    <th>Other Red's Action</th>
    <td bgcolor = "#eb9191"><font color="black">A</font></td>
    <td bgcolor = "#eb9191"><font color="black">B</font></td>
    <td bgcolor = "#eb9191"><font color="black">B</font></td>
    <td bgcolor = "#eb9191"><font color="black">B</font></td>
    <td bgcolor = "#eb9191"><font color="black">B</font></td>
    <td>?</td>
  </tr>
  <tr>
    <th>My Points</th>
    <td>48</td>
    <td>12</td>
    <td>12</td>
    <td>25</td>
    <td>25</td>
    <td> ?</td>
  </tr>
  <tr>
    <th>Other Red's Points</th>
    <td>30</td>
    <td>50</td>
    <td>50</td>
    <td>25</td>
    <td>25</td>
    <td>?</td>
  </tr>
  <tr>
      <th>Number</th>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td></td>
  </tr>

</table>

</div>

<div class="history2">

	<table style="width:100%; height: 200px">

  
  <tr>
    <th>Period</th>
    <td>1</td> 
    <td>2</td>
    <td>3</td> 
    <td>4</td>
    <td>5</td>
    <td>6</td>
  </tr>
  <tr>
    <th>My Action</th>
    <td bgcolor = "#93ccea"><font color="black">Y</font></td> 
    <td bgcolor = "#93ccea"><font color="black">W</font></td>
    <td bgcolor = "#93ccea"><font color="black">Y</font></td> 
    <td bgcolor = "#93ccea"><font color="black">Y</font></td>
    <td bgcolor = "#93ccea"><font color="black">Y</font></td> 
    <td>?</td>
  </tr>
  <tr>
    <th>Other Blue's Action</th>
    <td bgcolor = "#93ccea"><font color="black">W</font></td>
    <td bgcolor = "#93ccea"><font color="black">Y</font></td>
    <td bgcolor = "#93ccea"><font color="black">Y</font></td>
    <td bgcolor = "#93ccea"><font color="black">Y</font></td>
    <td bgcolor = "#93ccea"><font color="black">W</font></td>
    <td>?</td>
  </tr>
  <tr>
    <th>My Points</th>
    <td>50</td>
    <td>8</td>
    <td>25</td>
    <td>25</td>
    <td>50</td>
    <td>?</td>
  </tr>
  <tr>
    <th>Other Blue's Points</th>
    <td>12</td>
    <td>50</td>
    <td>25</td>
    <td>25</td>
    <td>12</td>
    <td>?</td>
  </tr>
  <tr>
      <th>Number</th>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td></td>
  </tr>
</table>
</div>