{% extends "otree/WaitPage.html" %}
{% load otree %}

{% block app_styles %}
    
    {% include 'mmc_rep_exp_off_TSM/CSS_details.html' %}

{% endblock%}

{% block title %}
    Waiting for Participants
{% endblock %}

{% block content %}

    <div class="description" style="margin-top: 0px;">
        
        <p style="text-align: center; font-size: 24px;">
            Round Number #{{ roundNumber }}
        </p>

        <h3 style="text-align: center; font-size: 24px;">
            Points Tables
        </h3>

        <p>
            {% include  'mmc_rep_exp_off_TSM/Payofftables.html' %}
        </p>

        <hr style="clear:both;">

        <h3 style="text-align: center; font-size: 24px;">
            History Tables
        </h3>

        <p>
            {% include 'mmc_rep_exp_off_TSM/HistoryTable.html' %}
        </p>

        <hr style="clear:both;">
        
    </div>

{% endblock %}

{% block app_scripts %}

    {% include  'mmc_rep_exp_off_TSM/Scripts.html' %}
    <script type="text/javascript">
        getPayoffs();

        var pN = ({{ periodNumber|json }});

        if (pN === 1) {
            showCurrentPeriodEmpty(pN);
        } else {
            showHistory(pN);
            showCurrentPeriodEmpty(pN);
        }
    
    </script>
    
{% endblock %}