{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
	{% include 'mmc_rep_consentform/CSS_details.html' %}
{% endblock %}

{% block title %}
    RESEARCH PARTICIPANT CONSENT FORM
{% endblock %}

{% block content %}

    <div class="fixedTop">
    Purdue IRB Protocol #: IRB-2020-445
    </div>

    <div class="description">
    	
    	<p align="center">
	        <small style="font-size: 18px; align-content: center">
	        	Economics Experiment
	        </small>
	        <br/>
	        <small style="font-size: 18px;">
	        	Yaroslav Rosokha, Department of Economics, Purdue University
	        </small>
    	</p>

    	<h4>
    		<u>
    			Key Information
    		</u>
    	</h4>

    	<p>
    		Please take the time to review this information carefully. This is a research study. Your participation in this study is voluntary, which means that you may choose not to participate at any time without penalty or loss of benefits to which you are otherwise entitled.  You may ask questions to the researchers about the study. Contact details of the experimenters are provided at the end of the form. If you decide to take part in the study, you will be asked to read this form and accept or reject to participate at the end of the form. Be sure you understand what you will have to do and any possible risks or benefits in case you agree to participate. 
    	</p>
    	<p>
    		The purpose of this research is to learn how an individual makes decisions when interacting with another individual in strategic settings, using human subjects as participants. If you decide to participate in the experiment, it will take 60-75 minutes to complete.
    	</p>

    	<h4>
    		<u>
    			What is the purpose of this study?
    		</u>
    	</h4>

    	<p>
    		In this experiment, we study how people make decisions in strategic settings. For this study, we would like to enroll 200 people. 
    	</p>

    	<h4>
    		<u>
    			What will I do if I choose to be in this study?
    		</u>
    	</h4>

    	<p>
    		If you choose to be in this study, you will perform the following tasks:
    	</p>

    	<ol>
    		<li>
    			You will read the instructions about how the experiment will take place.
    		</li>
    		<li>
    			You will complete a quiz about the instructions.
    		</li>
    		<li>
    			You will participate in the decision-making experiment. In the experiment, you will choose between several sets of options in multiple rounds of decision making.
    		</li>
    		<li>
    			After the experiment is over, you will be asked to fill out a survey (for example, your gender, age, educational background).
    		</li>
    	</ol>

    	<p>
    		After you accept to participate in the study, you will find a link to the session you will participate in and the time at which it will take place. In this study, we will collect the following information.
    	</p>

    	<ol>
    		<li>
    			Your answers on the quiz about instructions.
    		</li>
    		<li>
    			Your decisions in the experiment.
    		</li>
    		<li>
    			Your responses to the survey questions.
    		</li>
    	</ol>

    	<h4>
    		<u>
    			How long will I be in the study?
    		</u>
    	</h4>

    	<p>
    		The entire process (including the instruction, the quiz, the experiment, and the survey) is expected to last for 60-75 minutes.
    	</p>

    	<h4>
    		<u>
    			What are the possible risks or discomforts?
    		</u>
    	</h4>

    	<p>
    		There will be time limits on all tasks of the study. You will be disconnected if you do not complete any of the tasks mentioned under the section <b>“What will I do if I choose to be in this study?”</b> within their stipulated time limits.
    	</p>

    	<p>
    		Breach of confidentiality is always a risk with data, but we will take precautions to minimize this risk as described in the confidentiality section.
    	</p>

    	<h4>
    		<u>
    			Are there any potential benefits?
    		</u> 
    	</h4>

    	<p>
    		There is no direct benefit to you.
    	</p>

    	<h4>
    		<u>
    			Will I receive payment or other incentives?
    		</u>
    	</h4>

		<p>
			Any payment is contingent on completion of all the tasks mentioned under the section <b>“What will I do if I choose to be in this study?”</b> within their stipulated time limits.
		</p>
		<p>
			Provided you complete all tasks within their stipulated time limits, you will be paid the following way.
		</p>

		<ol>
			<li>
				You are guaranteed to be paid ${{ participation_fee }} for showing up for the study.
			</li> 
			<li>
				You will also be paid another ${{ quiz_fee }} for each quiz question you answer correctly. 
			</li>
			<li>
				You will earn additional money in the experiment, which will be partly decided by your choices in the experiment, partly by choices of other participants in the study, and partly on chance. 
			</li>
		</ol>
		<p>
			The average earnings from the experiment will be ${{ avg_earn }} if you complete all tasks in their stipulated time limits. The actual earnings may vary between ${{ low_earn }} - ${{ high_earn }}.
		</p>
		
		<p>
			You will be paid real money via Venmo account at the end of the experiment. Your Venmo identification number will be used to facilitate payment for participating in this study. According to the rules of the Internal Revenue Service (IRS), payments that are made to you as a result of your participation in a study may be considered taxable income.
		</p>

		<h4>
			<u>
				Are there costs to me for participation?
			</u>
		</h4>

		<p>
			There are no anticipated costs to participate in this research.
		</p>

		<h4>
			<u>
				Will information about me and my participation be kept confidential? 
			</u>
		</h4>
			
		<p>	
			Data from the experiment will be recorded using a randomly assigned identification number. Your Venmo identification number will be used for payment for participating in the study and may be provided to the business office of Purdue University to facilitate the payment. Venmo identification number will not be stored in the dataset. Results from the study will be stored indefinitely on a secure location on campus in one of the researcher’s computers and will be accessed only by them. The data may be used in future research. The project’s research records may be inspected by departments at Purdue University responsible for regulatory and research oversight. The data might also be submitted to journals for publication of the papers from projects using this data. 
		</p>

		<h4>
			<u>
				What are my rights if I take part in this study?
			</u>
		</h4>

		<p>
			You do not have to participate in this research project.  If you agree to participate, you may withdraw your participation at any time.
		</p>

		<h4>
			<u>
				Who can I contact if I have questions about the study?
			</u>
		</h4>

		<p>
			If you have questions, comments, or concerns about this research project, you can talk to one of the researchers.  Please contact Mouli Modak <a href = "mailto: modakm@purdue.edu">(email: modakm@purdue.edu)</a> or Dr. Yaroslav Rosokha <a href = "mailto: yrosokha@purdue.edu">(email: yrosokha@purdue.edu)</a>. Your first point of contact is Mouli Modak.
		</p>

		<p>
			To report anonymously via Purdue’s Hotline, see <a href = "http://www.purdue.edu/hotline">www.purdue.edu/hotline</a>.
		</p>

		<p>
			If you have questions about your rights while taking part in the study or have concerns about the treatment of research participants, please call the Human Research Protection Program at (765) 494-5942, email (<a href = "mailto: irb@purdue.edu">irb@purdue.edu</a>)  or write to: 
		</p>
		<p style="text-align: center;">
			Human Research Protection Program - Purdue University
		</p>
		<p style="text-align: center;">
			Ernest C. Young Hall, Room 1032
		</p>
		<p style="text-align: center;">
			155 S. Grant St.
		</p>
		<p style="text-align: center;">
			West Lafayette, IN 47907-2114
		</p>

		<h4>
			<u>
				Future Use
			</u>
		</h4>

		<p>
			May we use the information we collected here without your name or identifying information for future research projects related to other topics?
		</p>

        {% formfield player.futureUse label = ""%}

        <p>
         	May we share the information we collected here without your name or identifying information attached with other researchers for future research projects related to this project?
         </p>

         {% formfield player.OtherResearch label = ""%}

		<h4>
			<u>
				Documentation of Informed Consent
			</u>
		</h4>

		<p>
			I have had the opportunity to read this consent form. I am using a web browser on a laptop or desktop computer.
		</p>

		<div style="text-align: center">
          <button name="consent" value="Yes" class="btn btn-primary btn-large"><strong>YES</strong>, I agree to participate</button> &nbsp;&nbsp;&nbsp;&nbsp;
          <button name="consent" value="No" class="btn btn-primary btn-large" > <strong>NO</strong>, I do not agree to participate </button>
      </div>

    </div>

    
{% endblock %}