<div class="payoffbox1">

  <div style="text-align: center; width: 100%; position: sticky; font-size: 22px;">Red Game</div>

  <table style="width:100%">
  <tr>
    <th>My Action</th>
    <td>A</td> 
    <td>B</td>
    <td>A</td> 
    <td>B</td>
  </tr>
  <tr>
    <th>Other Red's Action</th>
    <td>A</td>
    <td>A</td>
    <td>B</td>
    <td>B</td>
  </tr>
  <tr>
    <th>My Points</th>
    <td id="00_11">?</td>
    <td id="10_11">?</td>
    <td id="01_11">?</td>
    <td id="11_11">?</td>
  </tr>
  <tr>
    <th>Other Red's Points</th>
    <td id="00_21">?</td>
    <td id="01_21">?</td>
    <td id="10_21">?</td>
    <td id="11_21">?</td>
  </tr>
</table>

</div>

<div class="payoffbox2">

  <div style="text-align: center; width: 100%; position: sticky; font-size: 22px;">Blue Game</div>

  <table style="width:100%">
  
  <tr>
    <th>My Action</th>
    <td>W</td> 
    <td>Y</td>
    <td>W</td> 
    <td>Y</td>
  </tr>
  <tr>
    <th>Other Blue's Action</th>
    <td>W</td>
    <td>W</td>
    <td>Y</td>
    <td>Y</td>
  </tr>
  <tr>
    <th>My Points</th>
    <td id="00_12">?</td>
    <td id="10_12">?</td>
    <td id="01_12">?</td>
    <td id="11_12">?</td>
  </tr>
  <tr>
    <th>Other Blue's Points</th>
    <td id="00_22">?</td>
    <td id="01_22">?</td>
    <td id="10_22">?</td>
    <td id="11_22">?</td>
  </tr>
</table>
</div>