<div class="history1" id="History1" style="display: block;">
		<div class="tableLabel1" id="roundN1" style="top: 0px;">Period Number</div>
		<div class="tableLabel1" id="myC1" style="top: 30px;">My Action</div>
		<div class="tableLabel1" id="oC1" style="top: 60px;">Other Red's Action</div>
		<div class="tableLabel1" id="myP1" style="top: 90px;">My Points</div>
		<div class="tableLabel1" id="oP1" style="top: 120px;">Other Red's Points</div>
		<div class="tableLabel1" id="rollN1" style="top: 150px;">Number</div>
		<div class="innerbox" id="innerbox_1"></div>
</div>
<div class="history2" id="History2" style="display: block;">
		<div class="tableLabel2" id="roundN2" style="top: 0px;">Period Number</div>
		<div class="tableLabel2" id="myC2" style="top: 30px;">My Action</div>
		<div class="tableLabel2" id="oC2" style="top: 60px;">Other Blue's Action</div>
		<div class="tableLabel2" id="myP2" style="top: 90px;">My Points</div>
		<div class="tableLabel2" id="oP2" style="top: 120px;">Other Blue's Points</div>
		<div class="tableLabel2" id="rollN2" style="top: 150px;">Number</div>
		<div class="innerbox" id="innerbox_2"></div>
</div>