{% extends "otree/WaitPage.html" %}
{% load otree %}

{% block title %}
    Waiting for Other
{% endblock %}

{% block app_styles %}
	
	{% include 'mmc_rep_exp_off_TAM/CSS_details.html' %}

{% endblock%}

{% block content %}

    <div class="description" style="margin-top: 0px;">
		
		<p style="text-align: center; font-size: 24px;">
			Round Number #{{ roundNumber }}
		</p>

		<h3 style="text-align: center; font-size: 24px;">
			Points Tables
		</h3>

		<p>
			{% include  'mmc_rep_exp_off_TAM/Payofftables.html' %}
		</p>

		<hr style="clear:both;">

		<h3 style="text-align: center; font-size: 24px;">
			History Tables
		</h3>

		<p>
			{% include 'mmc_rep_exp_off_TAM/HistoryTable.html' %}
		</p>

		<hr style="clear:both;">

	</div>

{% endblock %}

{% block app_scripts %}

	{% include  'mmc_rep_exp_off_TAM/Scripts.html' %}
	<script type="text/javascript">
		var pN = ({{ periodNumber|json }});

		showHistory(pN);
		showCurrentPeriod(pN);
		getPayoffs();
	</script>
	
{% endblock %}