{% load otree_tags %}

<script type="text/javascript">

	function getPayoffs() {

		document.getElementById("00_11").innerHTML=({{ payoff_matrix1|json }})[0][0];
        document.getElementById("01_11").innerHTML=({{ payoff_matrix1|json }})[0][1];
        document.getElementById("10_11").innerHTML=({{ payoff_matrix1|json }})[1][0];
        document.getElementById("11_11").innerHTML=({{ payoff_matrix1|json }})[1][1];
        document.getElementById("00_21").innerHTML=({{ payoff_matrix2|json }})[0][0];
        document.getElementById("01_21").innerHTML=({{ payoff_matrix2|json }})[0][1];
        document.getElementById("10_21").innerHTML=({{ payoff_matrix2|json }})[1][0];
        document.getElementById("11_21").innerHTML=({{ payoff_matrix2|json }})[1][1];

        document.getElementById("00_12").innerHTML=({{ payoff_matrix2|json }})[0][0];
        document.getElementById("01_12").innerHTML=({{ payoff_matrix2|json }})[0][1];
        document.getElementById("10_12").innerHTML=({{ payoff_matrix2|json }})[1][0];
        document.getElementById("11_12").innerHTML=({{ payoff_matrix2|json }})[1][1];
        document.getElementById("00_22").innerHTML=({{ payoff_matrix1|json }})[0][0];
        document.getElementById("01_22").innerHTML=({{ payoff_matrix1|json }})[0][1];
        document.getElementById("10_22").innerHTML=({{ payoff_matrix1|json }})[1][0];
        document.getElementById("11_22").innerHTML=({{ payoff_matrix1|json }})[1][1];

	}


	function showHistory(pN) {
		
		var x = ({{ myChoiceRHistory|json }}).split(",");
		var mc1 = x.map(function (x) {
			return parseInt(x);
		})
		mc1.splice(0,1);

		var x = ({{ myChoiceBHistory|json }}).split(",");
		var mc2 = x.map(function (x) {
			return parseInt(x);
		})
		mc2.splice(0,1);

		var x = ({{ otherRChoiceHistory|json }}).split(",");
		var oc1 = x.map(function (x) {
			return parseInt(x);
		})
		oc1.splice(0,1);

		var x = ({{ otherBChoiceHistory|json }}).split(",");
		var oc2 = x.map(function (x) {
			return parseInt(x);
		})
		oc2.splice(0,1);

		var x = ({{ myPayoffRHistory|json }}).split(",");
		var mp1 = x.map(function (x) {
			return parseFloat(x);
		})
		mp1.splice(0,1);

		var x = ({{ myPayoffBHistory|json }}).split(",");
		var mp2 = x.map(function (x) {
			return parseFloat(x);
		})
		mp2.splice(0,1);

		var op1 = ({{ otherRPayoffHistory|json }}).split(",");
		op1.splice(0,1);

		var op2 = ({{ otherBPayoffHistory|json }}).split(",");
		op2.splice(0,1);

		var x = ({{ rollHistory|json }}).split(",");
		var roll = x.map(function (x) {
			return parseInt(x);
		})
		roll.splice(0,1);


		var x = ({{ periodHistory|json }}).split(",");
		var pNlist = x.map(function (x) {
			return parseInt(x);
		})
		pNlist.splice(0,1);

		var myChoices1 = mc1;
		var myChoices2 = mc2;
		var otherChoices1 = oc1;
		var otherChoices2 = oc2;

		for (var p = 0; p < pN-1; p++) {
			showOneHistoryPeriod(mc1[p], mc2[p], oc1[p], oc2[p], mp1[p], mp2[p], op1[p], op2[p], roll[p], pNlist[p]);
		}

	};

	function showHistoryEnd(pN) {

		var x = ({{ myChoiceRHistory|json }}).split(",");
		var mc1 = x.map(function (x) {
			return parseInt(x);
		})
		mc1.splice(0,1);

		var x = ({{ myChoiceBHistory|json }}).split(",");
		var mc2 = x.map(function (x) {
			return parseInt(x);
		})
		mc2.splice(0,1);

		var x = ({{ otherRChoiceHistory|json }}).split(",");
		var oc1 = x.map(function (x) {
			return parseInt(x);
		})
		oc1.splice(0,1);

		var x = ({{ otherBChoiceHistory|json }}).split(",");
		var oc2 = x.map(function (x) {
			return parseInt(x);
		})
		oc2.splice(0,1);

		var x = ({{ myPayoffRHistory|json }}).split(",");
		var mp1 = x.map(function (x) {
			return parseFloat(x);
		})
		mp1.splice(0,1);

		var x = ({{ myPayoffBHistory|json }}).split(",");
		var mp2 = x.map(function (x) {
			return parseFloat(x);
		})
		mp2.splice(0,1);

		var op1 = ({{ otherRPayoffHistory|json }}).split(",");
		op1.splice(0,1);

		var op2 = ({{ otherBPayoffHistory|json }}).split(",");
		op2.splice(0,1);

		var x = ({{ rollHistory|json }}).split(",");
		var roll = x.map(function (x) {
			return parseInt(x);
		})
		roll.splice(0,1);

		var x = ({{ periodHistory|json }}).split(",");
		var pNlist = x.map(function (x) {
			return parseInt(x);
		})
		pNlist.splice(0,1);

		var myChoices1 = mc1;
		var myChoices2 = mc2;
		var otherChoices1 = oc1;
		var otherChoices2 = oc2;

		for (var p = 0; p < pN; p++) {
			showOneHistoryPeriod(mc1[p], mc2[p], oc1[p], oc2[p], mp1[p], mp2[p], op1[p], op2[p], roll[p], pNlist[p]);
		}

	};

	src="https://code.jquery.com/jquery-3.4.1.js";

	$("div.innerbox" ).scrollLeft(300);

	function showOneHistoryPeriod(myChoice1, myChoice2, otherChoice1, otherChoice2, myPayoff1, myPayoff2, otherPayoff1, otherPayoff2, roll, periodNum) {
		var marketColor1 = "#eb9191";
		var marketColor2 = "#93ccea";
		var options1 = ['A', 'B', '-'];
		var options2 = ['W', 'Y', '-'];


		var values1 = [periodNum, options1[myChoice1], options1[otherChoice1], myPayoff1, otherPayoff1, roll];

		var values2 = [periodNum, options2[myChoice2], options2[otherChoice2], myPayoff2, otherPayoff2, roll];
		

		for (var i = 0; i < 6; i++) {
			var per1 = document.createElement("div");
			per1.className = "tableContent";
			per1.innerHTML = values1[i];
			
			per1.style.top = String(35*i)+"px";
			per1.style.left = String(200+(periodNum-1)*60)+"px";
			document.getElementById("innerbox_1").appendChild(per1);

			var per2 = document.createElement("div");
			per2.className = "tableContent";
			per2.innerHTML = values2[i];

			per2.style.top = String(35*i)+"px";
			per2.style.left = String(200+(periodNum-1)*60)+"px";
			document.getElementById("innerbox_2").appendChild(per2);
		}
	};

	function showCurrentPeriodEmpty(periodNum) {

		var values = [periodNum, "?", "?", "?", "?", ""];

		for (var i = 0; i < 6; i++) {
			var per1 = document.createElement("div");
			per1.className = "tableContent";
			per1.innerHTML = values[i];
			per1.style.top = String(35*i)+"px";
			per1.style.left = String(200+(periodNum-1)*60)+"px";
			document.getElementById("innerbox_1").appendChild(per1);

			var per2 = document.createElement("div");
			per2.float="right"
			per2.className = "tableContent";
			per2.innerHTML = values[i];
			per2.style.top = String(35*i)+"px";
			per2.style.left = String(200+(periodNum-1)*60)+"px";
			document.getElementById("innerbox_2").appendChild(per2);
		}		

	};

	function showCurrentPeriod(periodNum) {
		
		var x1 = ({{ myChoiceR|json }});
		var myChoice1 = parseInt(x1);
		var x2 = ({{ myChoiceB|json }});
		var myChoice2 = parseInt(x2);
		
		var options1 = ['A', 'B', '?'];
		var options2 = ['W', 'Y', '?'];


		var entries1 = ['Period Number', 'My Choice', "Other Red's Choice", 'My Points', "Other Red's Points", 'Roll Number'];
		var values1 = [periodNum, options1[myChoice1], "?", "?", "?", ""];
	

		var entries2 = ['Period Number', 'My Choice', "Other Blue's Choice", 'My Points', "Other Blue's Points", 'Roll Number'];
		var values2 = [periodNum, options2[myChoice2], "?", "?", "?", ""];
		

		for (var i = 0; i < 6; i++) {
			var per1 = document.createElement('div');
			per1.className = "tableContent";
			per1.innerHTML = values1[i];
			
			per1.style.top = String(35*i)+"px";
			per1.style.left = String(200+(periodNum-1)*60)+"px";
			document.getElementById("innerbox_1").appendChild(per1);

			var per2 = document.createElement('div');
			per2.className = "tableContent";
			per2.innerHTML = values2[i];
			
			per2.style.top = String(35*i)+"px";
			per2.style.left = String(200+(periodNum-1)*60)+"px";
			document.getElementById("innerbox_2").appendChild(per2);
		}		

	};

	function showOddPeriods(periodNum,expPointsR,expPointsB) {

		for (var p = 1; p <= periodNum; p++) {
		
			var entries1 = ['Period Number', 'My Choice', "Other Red's Choice", 'My Points', "Other Red's Points", 'Roll Number'];
			var values1 = [p, "-", "-", expPointsR, "-", "-"];

			var entries2 = ['Period Number', 'My Choice', "Other Blue's Choice", 'My Points', "Other Blue's Points", 'Roll Number'];
			var values2 = [p, "-", "-", expPointsB, "-", "-"];

			for (var i = 0; i < 6; i++) {
				var per1 = document.createElement("div");
				per1.className = "tableContent";
				per1.innerHTML = values1[i];
				per1.style.top = String(35*i)+"px";
				per1.style.left = String(200+(p-1)*60)+"px";
				document.getElementById("innerbox_1").appendChild(per1);

				var per2 = document.createElement("div");
				per2.float="right"
				per2.className = "tableContent";
				per2.innerHTML = values2[i];
				per2.style.top = String(35*i)+"px";
				per2.style.left = String(200+(p-1)*60)+"px";
				document.getElementById("innerbox_2").appendChild(per2);
			}

		}		

	};

</script>