{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Round Result
{% endblock %}

{% block app_styles %}
	
	{% include 'mmc_rep_exp_off_TAS/CSS_details.html' %}

{% endblock%}

{% block content %}

	<p style="text-align: center; font-size: 24px;">Round No. #{{ roundNumber }}</p>

	<div class="description">
		<div>
			You could not be paired with another participant for this Round. This Round lasted for {{ totalPeriods }} period(s). 
		</div>
		<br>
		<div>
			You are given {{ expPointsR }} points for each period in <div class="redbox">Red Game</div>.
		</div>
		<br>
		<div>
			You are given {{ expPointsB }} points for each period in <div class="bluebox">Blue Game</div>.
		</div>
		<br>
		<h3 style="text-align: center; font-size: 24px;">History Tables</h3>

		{% include 'mmc_rep_exp_off_TAS/HistoryTable.html' %}

		<hr style="clear:both;">

		<div id="NextButton" style="text-align: center;">
			<button class="btn btn-primary btn-large" style="display: inline-block; font-size: 22px; background-color: #024b30;">
	            Next Round
	       	</button>
		</div>
	    <div id="Payment" style="text-align: center;">
	    	<button class="btn btn-primary btn-large"  style="display: inline-block; font-size: 22px; background-color: #024b30;">
	            Payment Details
	       	</button>
	    </div>

	</div>

{% endblock %}

{% block scripts %}

	{% include  'mmc_rep_exp_off_TAS/Scripts.html' %}
	
	<script type="text/javascript">

		hide("NextButton");
		hide("Payment");

		pN = ({{ totalPeriods }});
		expPointsR = ({{ expPointsR }});
		expPointsB = ({{ expPointsB }});

		showOddPeriods(pN,expPointsR,expPointsB);

		var last = ({{ lastRound|json }});
		
		if (last === 0) {
			show("NextButton");
		} else {
			show("Payment");
		}

		function hide(target) {
			var x = document.getElementById(target);
			x.style.display = "none";
		}

		function show(target) {
			var x = document.getElementById(target);
			x.style.display = "block";
		}

	</script>

{% endblock %}