{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Payment
{% endblock %}

{% block app_styles %}
	
	{% include 'mmc_rep_exp_off_TAS/CSS_details.html' %}

{% endblock%}

{% block content %}

	<div class="description">
		<p>
			Please write down the following details in the "Payment Sheet" given to you and turn it in to the experimenter for payment after taking the anonymous survey.
		</p>
		<br>
		<ul>
			<li>
				Participation Payment : ${{ myParticipation }}
			</li>
			<br>
			<li>
				Quiz Payment : ${{ myQuiz }}
			</li>
			<br>
			<li>
				Total Points from experiment : {{ myPoints }}
			</li>
			<br>
			<li>
				Exchange Rate : {{ conversionRate }} points = $1
			</li>
			<br>
			<li>
				Dollar Equivalent of Points from experiment : {{ myPayoff }}
			</li>
			<br>
			<li>
				Total Payment : {{ myTotalPayoff }}
			</li>
		</ul>
		<br>
		<p style="text-align: center;">
			Please take the Anonymous Survey.
		</p>
		<p style="text-align: center;">
	       	<button class="btn btn-primary btn-large" id="NextButton" style="display: inline-block; font-size: 22px; background-color: #024b30;">
	            Anonymous Survey
	       	</button>
	    </p>
	</div>

{% endblock %}