{% extends "global/Page.html" %}
{% load otree %}

{% block app_styles %}
    {% include 'mmc_rep_intro_TSS/CSS_details.html' %}
{% endblock %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
<div class="description">
    <p>
        Today's session is expected to last another {{ minExpTime }} to {{ maxExpTime }} minutes.
    </p>
    <p>
    	You will start with the instructions and a quiz.
    </p>
	<p>
        There are six (6) pages in the instructions. You have <b>{{ time_intro }} minutes</b> to read the instructions. 
    </p>
</div>
{% endblock %}