<div class="payoffbox1">

  <div style="text-align: center; width: 100%; position: sticky;">Red Game</div>

  <table style="width:100%; font-size: 20px;">
  
  <tr>
    <th >My Action</th>
    <td bgcolor = "#eb9191"><font color="black">A</font></td> 
    <td bgcolor = "#eb9191"><font color="black">B</font></td>
    <td bgcolor = "#eb9191"><font color="black">A</font></td> 
    <td bgcolor = "#eb9191"><font color="black">B</font></td>
  </tr>
  <tr>
    <th >Other's Action</th>
    <td style="width: 15%;" bgcolor = "#eb9191"><font color="black">A</font></td>
    <td style="width: 15%;" bgcolor = "#eb9191"><font color="black">A</font></td>
    <td style="width: 15%;" bgcolor = "#eb9191"><font color="black">B</font></td>
    <td style="width: 15%;" bgcolor = "#eb9191"><font color="black">B</font></td>
  </tr>
  <tr>
    <th >My Points</th>
    <td id="00_11">?</td>
    <td id="10_11">?</td>
    <td id="01_11">?</td>
    <td id="11_11">?</td>
  </tr>
  <tr>
    <th >Other's Points</th>
    <td id="00_21">?</td>
    <td id="01_21">?</td>
    <td id="10_21">?</td>
    <td id="11_21">?</td>
  </tr>
</table>

</div>

<div class="payoffbox2">

  <div style="text-align: center; width: 100%; position: sticky;">Blue Game</div>

  <table style="width:100%; font-size: 20px;">
  
  <tr>
    <th >My Action</th>
    <td bgcolor = "#93ccea"><font color="black">W</font></td> 
    <td bgcolor = "#93ccea"><font color="black">Y</font></td>
    <td bgcolor = "#93ccea"><font color="black">W</font></td> 
    <td bgcolor = "#93ccea"><font color="black">Y</font></td>
  </tr>
  <tr>
    <th >Other's Action</th>
    <td bgcolor = "#93ccea"><font color="black">W</font></td>
    <td bgcolor = "#93ccea"><font color="black">W</font></td>
    <td bgcolor = '#93ccea'><font color="black">Y</font></td>
    <td bgcolor = '#93ccea'><font color="black">Y</font></td>
  </tr>
  <tr>
    <th >My Points</th>
    <td id="00_12">?</td>
    <td id="10_12">?</td>
    <td id="01_12">?</td>
    <td id="11_12">?</td>
  </tr>
  <tr>
    <th >Other's Points</th>
    <td id="00_22">?</td>
    <td id="01_22">?</td>
    <td id="10_22">?</td>
    <td id="11_22">?</td>
  </tr>
</table>
</div>